@model IEnumerable<Lab5.Models.Photo>

@{
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>
<h3>Upload File</h3>
<form asp-controller="Home" asp-action="UploadFile" enctype="multipart/form-data">
    <input type="file" name="files" /> <button name="upload">Upload Now</button>
</form>
<br />
<h3>Currently Uploaded</h3>
@if (Model.Count() == 0)
{
    <p>There are no files to display.</p>
}
else
{
    <table>
        @foreach (var photo in Model)
        {
        <tr>
            <td style="vertical-align: top">
                @photo.FileName
                <br />
                <img src="@photo.Url" style="max-width: 400px;" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; min-width: 100px;">
                <a onclick="return confirm('Are you sure you want to delete this image?');" asp-action="DeleteFile" asp-route-id="@photo.PhotoId">Delete</a>
            </td>
        </tr>
        }
    </table>
}