<header><h1>About Me</h1></header>

<p>Patrick Bobyn</p>
<p>040889706</p>
<p>boby0003@algonquinlive.com</p>
<p>I am 28 years old and I am in the Computer Engineering Technology - Computing Science Program at Algonquin College.</p>
<p>What I expect from this course is to learn .NET applications and C#. By the end of this course I am expecting to be able to create web applications.</p>

<br/>
<header><h1>Answers</h1></header>

<p><strong>a.	C# is a strongly or loosely typed language?</strong></p>
<p>C# is a strongly typed language.</p>

<p><strong>b.	What is a ‘Property’ in C# as it relates to classes and objects</strong></p>
<p>A property is a member that provides a flexible mechanism to read, write, or compute the value of a private field.</p>

<p><strong>c.	Describe the MVC design pattern.</strong></p>
<p>The Model View Controller (MVC) design pattern specifies that an application consist of a data model, presentation information, and control information. The pattern requires that each of these be separated into different objects.</p>

<p><strong>d.	Compare ASP.NET WebForms to ASP.NET MVC</strong></p>
<p>Asp.Net Web Form follow a traditional event-driven development model. Asp.Net MVC is a lightweight and follows MVC (Model, View, Controller) pattern based development, model.</p>

<p><strong>e.	What is .NET Core?</strong></p>
<p>.NET Core is an open-source, general-purpose development platform maintained by Microsoft and the .NET community on GitHub.</p>

<p><strong>f.	Open the Person object in the Models Folder. The properties FirstName and LastName have square brackets above them. These statements have a name, what is it? What do these brackets do?</strong></p>
<p>They are attributes.</p>

<p><strong>g.	Where do we store ‘static’ content in an MVC application?</strong></p>
<p>Static files can be stored in any folder under the web root and accessed with a relative path to that root.</p>

<p><strong>h.	Describe the purpose of the Program.cs class in this project.</strong></p>
<p>Program.cs is the main method of this application.</p>

<p><strong>i.	Describe the purpose of the Startup.cs class in this project.</strong></p>
<p>Startup.cs configures the HTTP pipeline and adds services to the controller</p>

<p><strong>j.	MVC Core applications can ‘host’ themselves: true of false.</strong></p>
<p>True</p>

<p><strong>k.	Name the language used to programmatically render HTML in MVC applications.</strong></p>
<p>ASP.NET MVC</p>