<header>About Me</header>

<p>Patrick Bobyn</p>
<p>040889706</p>
<p>boby0003@algonquinlive.com</p>
<p>I am 28 years old and I am in the Computer Engineering Technology - Computing Science Program at Algonquin College.</p>
<p>What I expect from this course is to learn .NET applications and C#. By the end of this course I am expecting to be able to create web applications.</p>

<header>Answers</header>

<p>a.	C# is a strongly or loosely typed language?</p>
<p>C# is a strongly typed language.</p>

<p>b.	What is a ‘Property’ in C# as it relates to classes and objects</p>
<p>A property is a member that provides a flexible mechanism to read, write, or compute the value of a private field.</p>

<p>c.	Describe the MVC design pattern.</p>
<p>The Model View Controller (MVC) design pattern specifies that an application consist of a data model, presentation information, and control information. The pattern requires that each of these be separated into different objects.</p>

<p>d.	Compare ASP.NET WebForms to ASP.NET MVC</p>
<p></p>
<p>e.	What is .NET Core?</p>
<p>f.	Open the Person object in the Models Folder. The properties FirstName and LastName have square brackets above them. These statements have a name, what is it? What do these brackets do?</p>
<p>g.	Where do we store ‘static’ content in an MVC application?</p>
<p>h.	Describe the purpose of the Program.cs class in this project.</p>
<p>i.	Describe the purpose of the Startup.cs class in this project.</p>
<p>j.	MVC Core applications can ‘host’ themselves: true of false.</p>
<p>k.	Name the language used to programmatically render HTML in MVC applications.</p>
